.load-gifs{
  display: none;
}
h1 {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }
 body {
  background-image: url("./gifs/background.png"),linear-gradient(
    to top,
    rgba(250, 194, 9, 0.842),
    rgb(248, 145, 10)
);
  background-repeat: no-repeat;
  background-position: bottom left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
 #game div {
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  background-image: url("./gifs/card.jpeg");
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 111px;
  height: 150px;
  margin: 10px;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
} 

.flip {
  transform: rotateY(180deg);
}

#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.start{
  background-image: url("./gifs/pokeball.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  border: none;
  cursor: pointer;
}

.start:hover {
  background-image: url("./gifs/pokeball.png");
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: center;
  width: 98px;
  height: 98px;
  border-radius: 49px;
  border: none;
  cursor: pointer;
}

.restart {
  display: flex;
  justify-content: center;
  border: white;
  color: white;
  border-radius: 20px;
  margin: 10px;
  width: 100px;
  font-size: 20px;
  height: 30px;
  background-color: black;
  cursor: pointer;
}

.no {
  display: flex;
  justify-content: center;
  border: white;
  color: white;
  border-radius: 20px;
  margin: 10px;
  width: 100px;
  font-size: 20px;
  height: 30px;
  background-color: black;
  cursor: pointer;
}

.playagain {
  display: flex;
  justify-content: center;
  border: white;
  color: white;
  border-radius: 20px;
  margin: 10px;
  width: 100px;
  font-size: 20px;
  height: 30px;
  background-color: black;
  cursor: pointer;
}
.restart:hover {
  border-radius: 30px;
  width: 110px;
  font-size: 25px;
  height: 40px;
}

.noofclicks {
  display:  none;
  border: solid;
  width: 300px;
  height: 30px;
  justify-content: center;
  align-items: center;
}
p {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.restart{
  display: none;
}
.tap{
  display: none;
}

.gameover {
  width: 350px;
  height: 200px;
  display: none;
  position:fixed; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: calc(50% - 100px); 
  left: calc(50% - 185px);
  background-color: white;
  border-radius: 20px;
}
.restart1 {
  width: 300px;
  height: 150px;
  display: none; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: calc(50% - 70x); 
  left: calc(50% - 150px);
  background-color: white;
  border-radius: 20px;
}